


.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  min-height: 100vh;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}



.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.controls button:hover {
  background-color: #45a049;
}

.date-picker {
  margin-bottom: 20px;
  
}

.date-picker-time{
  height: 30px;
}


@media (max-width: 1024px) {
  .controls {
    margin-bottom: 15px; 
  }

  .controls button {
    padding: 7px 10px; 
    font-size: 13px; 
  }
}

@media (max-width: 768px) {
  .controls {
    
    align-items: center;
    margin-bottom: 10px;
    gap:10px;
  }

  .controls button {
    padding: 6px 8px; 
    font-size: 12px; 
    width: 100%; 
    margin-bottom: 5px;
  }

  .controls button:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .controls button {
    padding: 5px 6px; 
    font-size: 11px; 
  }
}


.time-slider {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.time-slider input {
  flex-grow: 1;
  margin-right: 10px;
  height: 8px;
  background: #ccc;
  border-radius: 5px;
}

.add-timezone {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.add-timezone button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-timezone button:hover {
  background-color: #45a049;
}

.timezone-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dark-mode .timezone-item {
  background-color: #2a2a2a;
}

.timezone-item span {
  flex-grow: 1;
  width: 50px;
}

.timezone-item input {
  margin: 0 10px;
}

.timezone-item button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.timezone-item button:hover {
  background-color: #e53935;
}

.shareable-link {
  margin-top: 20px;
}

.shareable-link input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
}

.dark-mode input,
.dark-mode button {
  background-color: #555;
  color: #fff;
  border: 1px solid #777;
}

.suggestions {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
}

.suggestions li:hover {
  background-color: #ececec;
}

.dark-mode .suggestions {
  background-color: #333;
  border-color: #555;
}

.dark-mode .suggestions li {
  background-color: #444;
}

.dark-mode .suggestions li:hover {
  background-color: #555;
}



.add-timezone-container {
  margin-bottom: 20px;
}

.add-timezone-form {
  display: flex;
  justify-content: space-between;
}

.timezone-input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 33px;
}

.add-timezone-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.suggestions-list {
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  max-height: 150px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.timezone-list {
  margin-bottom: 20px;
}



.add-timezone-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-timezone-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-add-timezone-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.add-timezone-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.light-mode {
  background-color: orange;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.add-timezone-container {
  margin: 20px 0;
}

.light-mode .add-timezone-container {
  background-color: #fff;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.dark-mode .add-timezone-container {
  background-color: #444;
  color: #fff;
  box-shadow: none;
  border-radius: 5px;
  padding: 15px;
}

.add-timezone-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.timezone-input {
  flex-grow: 1;

  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.light-mode .timezone-input {
  background-color: #f9f9f9;
  color: #333;
}

.dark-mode .timezone-input {
  background-color: #555;
  color: #fff;
  border: 1px solid #777;
}

.add-timezone-button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.add-timezone-button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.suggestions-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  background-color: inherit;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.light-mode .suggestion-item:hover {
  background-color: #e0e0e0;
}

.dark-mode .suggestion-item:hover {
  background-color: #555;
}


